# Ignore everything in this directory 
*
# Except this file
!.gitignore

######################################################################################################
# Only for old docker users who already have config mounted at /app/app/config/config.ini
######################################################################################################